.AppHeader {
    width: 100%;
    height: 70px;
    margin-bottom: 20px;
}

.AppHeader-title {
    font-size: 36px;
    padding-top: 10px;
    text-align: center;
    color: grey;
}

.AppHeader-button {
    border: 0;
    list-style: none;
    position: absolute;
    top: 25px;
    min-height: 5vh;
    max-width: 40vh;
    color: grey;
    font-size: calc(10px + 2vmin);
    background: #fff;
}

.AppHeader-image {
    margin: 15px;
    height: 2vh;
    width: 5vh;
}

.btn-left {
    left: 125px;
    float: left;
}

.btn-right {
    float: right;
    right: 125px;
}

.img-left {
    transform: scaleX(-1);
    float: left;
}

.img-right {
    float: right;
}