.BlockButton {
    /*float: left;*/
}

.BlockButton-button {
    margin-top: 40px;
    background-color: #ffffff;
    min-height: 5vh;
    min-width: 30vh;
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    font-size: calc(10px + 2vmin);
    color: grey;
}