.BlockSelect {
    float: left;
}

.BlockSelect-label {
    background-color: #ffffff;
    min-height: 5vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: left;
    font-size: calc(15px + 2vmin);
    color: grey;
}

.BlockSelect-input {
    margin-top: 10px;
    background-color: #ffffff;
    min-height: 5vh;
    min-width: 40vh;
    display: flex;
    flex-direction: column;
    font-size: calc(10px + 2vmin);
    color: grey;
}

.BlockSelect-button_draw {
    margin-top: 30px;
    min-height: 5vh;
    display: flex;
    flex-direction: column;
}