.Select {
    margin-top: 5px;
    margin-bottom: 5px;
    background-color: #ffffff;
    min-height: 5vh;
    min-width: 40vh;
    display: flex;
    flex-direction: column;
    font-size: calc(10px + 2vmin);
    color: grey;
}