.Grid-container {
    margin-left: 14vh;
    display: grid;
    grid-template-columns: 30% 30% 30%;
    grid-gap: 10px;
}

.Field-container {
    margin: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.Field-container-item {
    margin-left: 20px;
    margin-right: 20px;
    display: flex;
}

.Input-field {
    max-width: 150px;
}

.Input-check {
    margin-top: auto;
    margin-bottom: auto;
    width: 25px;
    height: 25px;
}