.Item {
    position: relative;
    text-align: center;
}

.Image-container {
    margin-left: 12vh;
    position: relative;
    width: 35vh;
}

.Image-container-image {
    max-height: 53vh;
    width: 35vh;
}

.Image-container-text {
    position: absolute;
    bottom: 8px;
    right: 8px;
    background: white;
    width: 30px;
    height: 28px;
}

.Image-container-button-delete {
    outline: none !important;
    width: 28px;
    height: 28px;
    background: red;
    color: white;
    border-radius: 50%;
    position: absolute;
    margin-top: -15px;
    margin-left: -0.7vw;
    border: 0 !important;
}